<%= render "shared/tabbed_interface", user: @user %>

<ul>
  <% @user.own_photos.each do |photo| %>
    <%= render "photos/photo", photo: photo %>
</ul>

<div class="card-body">
  <div class="card-body">
    <%= render "comments/form", comment: Comment.new(photo_id: photo.id) %>
  </div>
</div>
</div>
</div>
<%end%>
